<html>
    <head>
    </head>
    <body>
        <h1>Film Description</h1>
        <p>{{ film.getNom() }}</p>

        <p>{{ film.getDescription() }}</p>
        <p>{{ film.getNote() }}</p>
    </body>
</html>
