/* *{ */
/* 	border : 1px solid red; */ 
/* } */

/* .films{ */
/* 	background-color : red; */ 
/* } */

/*------------------------------ Colors and Fonts ------------------------------*/ 

:root{
	--background : #262626; 
	--font : #fefefe; 
	--description : #545454; 
	--card-background : #141414; 
}

*{
	margin : 0;
	padding : 0;
}

body {
	background-color : var(--background);
}


/*------------------------------ Menu ------------------------------*/ 

header{
	/* border : 1px dashed green; */ 
	display : flex; 
	justify-content : space-between; 
	margin : 20px 50px 0 50px; 
	color : var(--font);
}

header h3{
	font-size : 20px; 
}

header .menu {
	display : flex;
}

header .menu p {
	margin-left : 30px; 
}


/*------------------------------ HomePage main ------------------------------*/ 

#main {
	/* border : 1px solid red; */ 
	height : 1000px; 
}

.title {
	/* border : 1px solid blue; */ 
	margin-top : 50px; 
	height : 500px; 
	display : flex; 
	/* align-items : space-around; */ 
	justify-content : center;
}

.title .text{
	/* border : 1px dashed yellow; */ 
	height : 400px; 
	width : 400px; 
	display : flex ; 
	flex-direction : column; 
	/* justify-content : center; */ 
}

.title .text h3{
	margin-top : 100px; 
	color : var(--font);
	font-size : 40px; 
}

.title .text .description {
	color : var(--description);
	margin-top : 20px; 
}

.title .image{
	/* border : 1px dashed orange;  */
	width : 400px; 
	height : 400px; 
	display : flex; 
	justify-content: center;
	align-items: center;
}

.title .image img{
	/* border : 1px solid red;  */
	transform: scale(1.10);
	-ms-transform: scale(1.10);
	-webkit-transform: scale(1.10);
}

.title .text .button {
	margin-top : 50px; 
	border : 1px solid white; 
	width : 250px; 
	height : 50px; 
	border-radius : 25px; 
	display : flex; 
	justify-content : center; 
	align-items : center; 
}

.title .text .button:hover{
	background-color : var(--font);
}

.title .text .button a {
	text-decoration : none; 
	color : var(--font);
}

.title .text .button a:hover{
	color : black; 
}

#films {
	/* border : 1px solid green ; */ 
	height : 700px;
	display : grid ;
	grid-template-columns: repeat(3, 1fr);
	margin : 50px; 
}

.film_item {
	background-color : var(--card-background);
	display : flex; 
	flex-direction : column;
	justify-content : flex-end; 
	align-items : center; 
	height : 300px; 
	width : 250px; 
}



/*------------------------------ Footer ------------------------------*/ 

footer{
	/* border : 1px solid red; */ 
	height : 100px; 
	/* position:absolute; */
	bottom : 0; 
	margin-top : 300px; 
	display  : flex; 
	align-items : flex-end; 
	justify-content : space-between; 
}

.left_footer {
	margin : 0 0 30px 20px ;
	/* margin : 20px; */
	color : var(--description);
}

.right_footer{
	display : flex; 
}

footer .icon {
	margin : 20px; 
	height : 50px; 
	width : 50px; 
	background-color : var(--font);
	border-radius : 50%;
}
