<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Upload Film</h1>
        <div class='uploader'>
            {{ form_start(uploadFilm) }}

            {{ form_end(uploadFilm)}}
        </div>
    </body>
</html>
